@font-face
  font-family: "PT Sans Bold"
  src: url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype")
  font-weight: 700
  font-style: normal
  font-stretch: normal

@font-face
  font-family: "PT Sans Regular"
  src: url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype")
  font-weight: 400
  font-style: normal
  font-stretch: normal

@mixin regular
  font-family: "PT Sans Regular", sans-serif

@mixin bold
  font-family: "PT Sans Bold", sans-serif
